<div class="content">
    <h3><%= data.title %></h3>
    <%= data.details %>
    <h5>By: <%= data.usernick %></h5>
    <h5>Created at: <%= data.createdAt %></h5>
    <h5>Tags: <%= data.tag %></h5>
</div>
