<div class="container">
    <h1>내 고민 해결 방안 공유하기</h1>
    <form action="/posts/edit/<%= pageContent.id %>?_method=PATCH" method="post">
        <div class="form-group">
            <label for="title" style="text-align: left;">Title:(수정 불가)</label>
            <input type="text" id="title" name="title" class="input-box" value="<%= pageContent.title %>" readonly>
        </div>
        <div class="form-group">
            <label for="usernick" style="text-align: left;">Nickname:(수정 불가)</label>
            <input type="text" id="usernick" name="usernick" class="input-box" value="<%= accountInfo.usernick %>" readonly>
        </div>
        <div class="form-group">
            <label for="content" style="text-align: left;">Content:(수정 불가)</label>
            <textarea id="content" class="input-box" name="content" readonly><%= pageContent.details %></textarea>
        </div>
        <div class="form-group">
            <label for="content_additional" style="text-align: left;">Additional Content:</label>
            <textarea id="content_additional" class="input-box" name="content_additional"><%= pageContent.additional_material %></textarea>
        </div>
        <div class="form-group">
            <label for="tags" style="text-align: left;">Tags:</label>
            <input type="text" id="tags" name="tags" class="input-box" value="<%= pageContent.tag %>">
        </div>
        <button type="submit" class="green-button">제출</button>
    </form>
</div>